.flex-container-1
{
    display: flex;
    background-color: rgb(255, 1, 1);
    margin: 8px;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: monospace;
}

.flex-container-2
{
    display: flex;
    background-color: rgb(0, 64, 255);
    margin: 8px;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: monospace;
}

.flex-container-3
{
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-container-3 .left-content
{
    height: 60px;
    margin-left: 8px;
    width: 25%;
    height: 60vh;
    background-color: rgb(20, 248, 237);
}

.flex-container-3 .right-content
{
    height: 60px;
    margin-right: 8px;
    width: 25%;
    height: 60vh;
    background-color: rgb(252, 14, 252);
}

.flex-container-3 .main-content
{
    display: flex;
    height: 60px;
    margin: 0px 8px 0px 8px;
    width: 45%;
    height: 60vh;
    background-color: rgb(255, 54, 47);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-size: 20px;
    font-family: monospace;

}

@media (max-width:500px) {
    .flex-container-3 .main-content
    {
        width: 100%;
        margin:8px;
    }

    .flex-container-3 .left-content
    {
        width: 100%;
        margin:8px;

    }

    .flex-container-3 .right-content
    {
        width: 100%;
        margin:8px;

    }
}


.flex-container-4
{
    display: flex;
    background-color: indigo;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 8px;
    font-size: 20px;
    font-family: monospace;
    flex-wrap: wrap;
}

.flex-container-5
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  font-size: 20px;
    font-family: monospace;
    flex-wrap: wrap;
    text-decoration: underline;
}